// bower:scss
// endbower
body {
  background: #ffffff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  tr:nth-child(2n-1) {
    background: #f5f5f5;
  }
  .header {
    color: white;
    background: #5b5b5b;
    font-weight: bold;
  }
  .horizontal {
    background: #31bc86;
    color: white;
    font-weight: bold;
  }
  .vertical {
    background: #2ea879;
    color: white;
    font-weight: bold;
  }
  .horizontal,
  .vertical {
    white-space: nowrap;
  }
  .content {
    color: #7c8d87;
  }
  td {
    transition: background .25s ease-out;
    &.hover {
      background: rgba(129, 208, 177, .3);
    }
  }
}
